<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Trever</h1>
		<p>This is a test of some stuff</p>
		<p>Today I built a blog in Rails 4.</p>
		<p>If your interested in hiring me, look to my information on the left. Thanks!</p>
</div>